/* Quote.css */

h3 {
    border-bottom: 2px solid white;
}

.quote__box {
    height: 50vh;
    max-width: 70%;
    display: inline-block;
    align-items: center;
    margin: 5vh auto ;
}

.quote__text {
    font-size: 1.7rem;
    padding-left: 20px;
    border-left: 3px solid white;
}

.quote__author {
    text-align: left;
    font-weight: 800;
    letter-spacing: 2px;
}

#quote__button {
    min-width: 20vw;
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 4px 20px;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(255,255,255,1);
    box-shadow: 0px 3px 0px 0px rgba(255,255,255,1);
}
#quote__button:hover {
    /* border: 1px solid red; */
    color: red;
    -webkit-box-shadow: 0px 3px 0px 0px red;
    -moz-box-shadow: 0px 3px 0px 0px red;
    box-shadow: 0px 3px 0px 0px red;
}

