header {
    margin: 0;

}
.who {
    display: flex;
    justify-content: space-between;
}
header .header__name {
    font-size: 1.5rem;
    font-weight: 800;
    min-width: 30vw;
}

header nav {
    margin-top: 10px;
}

header nav  > * {
    display: inline-block;
}



header h1 {
    margin: 0;
    font-size: 2vw;
    cursor: default;
}

.contact__info {
    display: flex;
    justify-content: center;
    margin: 0;
}.contact {
    min-width: 20vw;
}




